<!-- app/views/orders/index.html.erb -->
<div class="container mt-4">
  <h1>My Orders</h1>

  <% if @orders.empty? %>
    <div class="alert alert-info">You have no orders yet.</div>
  <% else %>
    <% @orders.each do |order| %>
      <div class="card mb-3">
        <div class="card-header">
          <h2>Order ID: <%= order.id %></h2>
        </div>
        <div class="card-body">
          <p>Status: <%= order.order_status.capitalize %></p>
          <h3>Order Items:</h3>
          <ul class="list-group list-group-flush">
            <% order.order_items.each do |item| %>
              <li class="list-group-item">
                <%= item.product.product_name %>: <%= item.quantity %> x
                <%= number_to_currency(item.payment_amount) %> =
                <%= number_to_currency(item.quantity * item.payment_amount) %>
              </li>
            <% end %>
          </ul>

          <p>Products Total Price: <%= number_to_currency(order.items_total_price) %></p>
          <p>Total Tax: <%= number_to_currency(order.calculate_total_tax) %></p>
          <p>Grand Total: <%= number_to_currency(order.total_price) %></p>
          <p>Order Date: <%= order.created_at.strftime("%Y-%m-%d") %></p>
        </div>
        <div class="card-footer">
          <% if order.status_new? %>
            <%= button_to 'Cancel Order', cancel_order_path(order), method: :patch, class: "btn btn-warning" %>
            <%= link_to 'Pay', new_order_payment_path(order), class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

