<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>
<div class="order_summary">
  <h1>Order Summary</h1>
  <div class="shipping-address">
    <h2>Shipping Address</h2>
    <p>Full Name: <%= current_user.first_name %> <%= current_user.last_name %></p>
    <p>Email: <%= current_user.email %></p>
    <p>Phone Number: <%= current_user.phone_number %></p>
    <p>Address: <%= current_user.address %></p>
    <p>City: <%= current_user.city %></p>
    <p>Province: <%= current_user.province.name %></p>
    <p>Postal Code: <%= current_user.postal_code %></p>
    <%= link_to 'Change', edit_user_registration_path %>
  </div>

  <%= form_with url: orders_path, method: :post, data: { turbo: false } do |form| %>
    <div class="order-details">
      <h2>Order Details</h2>
      <% @cart_items.each do |cart_item| %>
        <div class="item">
          <h3><%= cart_item.product.product_name %></h3>
          <p>Price: <%= number_to_currency(cart_item.product.price) %></p>
          <p>Quantity: <%= cart_item.quantity %></p>
          <p>Subtotal: <%= number_to_currency(cart_item.total_price) %></p>
        </div>
      <% end %>
    </div>

    <div>
      <h4>Taxes:</h4>
      <p>GST: <%= @tax_details[:gst] %></p>
      <p>PST: <%= @tax_details[:pst] %></p>
      <p>HST: <%= @tax_details[:hst] %></p>
    </div>

    <div>
      <h4>Total:</h4>
      <p>Subtotal: <%= @cart.subtotal_price %></p>
      <p>Tax: <%= @tax_details[:total_tax] %></p>
      <p>Grand Total: <%= @tax_details[:grand_total] %></p>
    </div>
    <%= hidden_field_tag 'order[total_price]', @tax_details[:grand_total] %>
    <%= form.submit "Place Order" %>
  <% end %>

</div>