<!-- app/views/orders/show.html.erb -->
<h1>Successfully Paid</h1>
<h2>Here is Your Order Infomation</h2>
<p><strong>Order Status:</strong> <%= @order.order_status if @order %></p>
<p><strong>Grand Total:</strong> <%= number_to_currency(@order.total_price, unit: "CAD$") if @order %></p>
<p><strong>Payment Intent ID:</strong> <%= @order.payment&.payment_intent_id %></p>
<p><strong>Full Name: </strong><%= "#{current_user.first_name} #{current_user.last_name}" if current_user %></p>
<p><strong>Email: </strong><%= current_user.email if current_user %></p>
<p><strong>Phone Number: </strong><%= current_user.phone_number if current_user %></p>
<p><strong>Address: </strong><%= current_user.address if current_user %></p>
<p><strong>City: </strong><%= current_user.city if current_user %></p>
<p><strong>Province: </strong><%= current_user.province.name if current_user&.province %></p>
<p><strong>Postal Code: </strong><%= current_user.postal_code if current_user %></p>
<%= link_to 'Back to Products', products_path %>