<section>
  <div>
    <h1>Category</h1>
    <ul>
      <% Category.all.each do |category| %>
        <li><%= link_to category.category_name, category_products_path(category) %></li>
      <% end %>
    </ul>
    <h1>Products</h1>
    <%= link_to 'Newly Added Products', products_path(filter: 'newly_added') %>
    <%= link_to 'Recently Updated Products', products_path(filter: 'recently_updated') %>
    <div>
      <%= form_with(url: products_path, method: :get, local: true) do |form| %>
        <div>
          <%= form.label :keyword, "Search by keyword" %>
          <%= form.text_field :keyword %>
          <%= form.label :category_id, "Select a category" %>
          <%= form.collection_select :category_id, Category.all, :id, :category_name, prompt: "Category" %>
          <%= form.submit "Search" %>
        </div>
      <% end %>
      <% if @products.empty? %>
        <div>
          <div>
            <p>No products found matching your search criteria.</p>
          </div>
        </div>
      <% else %>
        <% @products.each do |product| %>
          <div>
            <% if product.image.attached? %>
              <%= image_tag(product.image) %>
            <% end %>
          </div>
          <div>
            <p>
              <%= link_to product.product_name, product_path(product) %>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= paginate @products %>
  </div>
</section>
