<!--app/views/products/index.html.erb-->
<%= render 'categories/categories' %>

<h1>Products</h1>
<%= link_to 'Newly Added Products', products_path(filter: 'newly_added') %>
<%= link_to 'Recently Updated Products', products_path(filter: 'recently_updated') %>

<%= render 'products/search_form' %>

<% if @products.empty? %>
  <div>
    <p>No products found matching your search criteria.</p>
  </div>
<% else %>
  <% @products.each do |product| %>
    <%= render 'products/product', product: product %>
  <% end %>
<% end %>

<%= paginate @products %>
