<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <div>
        <div>
          <%= link_to "Products", products_path %>
          <%= link_to "About", static_page_path(identifier: "about_us") %>
          <%= link_to "Contact Us", static_page_path(identifier: "contact") %>
        </div>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
