<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "flash #{name}") if msg.is_a?(String) %>
    <% end %>
    <nav>
      <div>
        <div>
          <%= link_to "Products", products_path %>
          <%= link_to "Shopping Cart", cart_path %>
          <%= link_to "Orders", orders_path %>
          <%= link_to "About", static_page_path(identifier: "about_us") %>
          <%= link_to "Contact Us", static_page_path(identifier: "contact") %>
        </div>
      </div>
    </nav>
    <% if user_signed_in? %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <p>Welcome, <%= current_user.email %></p>
      <%= link_to 'Edit Profile', edit_user_registration_path %>
    <% else %>
      <%= link_to 'Login', new_user_session_path %> |
      <%= link_to 'Register', new_user_registration_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
